<div class="bg-devise">
  <div class="container">
    <div class="row">
      <class class="col-xs-12 display-devise">

        <h1 id='logo'>day<span class="iconify" id='logo' data-icon="vaadin:globe" data-inline="false"></span></h1>
        <p id='app-genre'>Climate Habit Builder</p>
        <h3 id='tagline'>A Climate Battle We Can Win. Together.</h3>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :username,
                        required: true,
                        autofocus: true %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Join now", class: 'btn btn-outline-warning' %>
          </div>
        <% end %>

        <p class='mt-2'>Already have an account?</p>

        <%= render "devise/shared/links" %>


      </class>

    </div>
  </div>
</div>


