<div class="container-page wave-bg" id='devise'>
  <div class="logo-devise">
    <h3>day-o</h3>
    <p>Climate Habit Builder</p>
    <div id="logo-i">
      <span class="iconify" id='logo' data-icon="vaadin:globe" data-inline="false"></span>
    </div>
  </div>

  <div class="form-devise">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h1>Sign up</h1>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="form-input">
          <span class="iconify" data-icon="clarity:user-line" data-inline="false"></span>
          <%= f.input :username,
                      required: true,
                      placeholder: "Username", 
                      label: false,
                      autofocus: true %>
        </div>

        <div class="form-input">
          <span class="iconify" data-icon="mdi-light:email" data-inline="false"></span>
          <%= f.input :email,
                      required: true,
                      placeholder: "Email", 
                      label: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
        </div>
        
        <div class="form-input">
          <span class="iconify" data-icon="cil:lock-unlocked" data-inline="false"></span>
          <%= f.input :password,
                      required: true,
                      placeholder: "Password", 
                      label: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-input">
          <span class="iconify" data-icon="cil:lock-locked" data-inline="false"></span>
          <%= f.input :password_confirmation,
                      placeholder: "Confirm password", 
                      label: false,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        
      </div>

      <div class="form-actions align-right">
        <%= f.button :submit, 'âœ', class: 'btn-arrow' %>
      </div>
    <% end %>

  </div>

  <%= link_to "Log in to your account", new_session_path(resource_name), class: 'btn-outline-brown mb-some' %>

</div>


