<div class="profile-container">
  <div id="user-info-card">
    <!-- add avatar -->
    <div id="avatar-container">
      <% if @user.photo.present? %>
        <%= image_tag @user.photo, class: "profile-avatar" %>
      <% else %>
        <%= image_tag "user.png", class: "profile-avatar" %>
      <% end %>
    </div>
    <!--name & location -->
    <div id="user-info">
      <h1><%= @user.username.capitalize %></h1>
      <h2><%= @user.location %></h2>
    </div>
  </div>
</div>

<!-- Badge Collection -->

<!-- Progress -->
<p>Today's Impact: <%= @impact_today %></p>
<p>Weekly Impact: <%= @impact_week_hash %></p>
