<!-- Profile Row -->
<div id="user-info-card">
  <!-- add avatar -->
  <div id="avatar-container">
    <% if @user.photo.present? %>
      <%= image_tag @user.photo, class: "profile-avatar" %>
    <% else %>
      <%= image_tag "user.png", class: "profile-avatar" %>
    <% end %>
  </div>
  <!--name & location -->
  <div id="user-info">
    <h1><%= @user.username.capitalize %></h1>
    <h2><%= @user.location %></h2>
  </div>
</div>


<!-- Badge Collection -->
<div id="badges-container">
  <div class="badges">
    <div class="badge-header">
      <h5>Badges Collection</h5>
    </div>


    <div class="badge-list">
      <ul>
        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Plastic' }).exists? %>
          <%= image_tag "plastic (1).svg", class: "profile-badge", style: "background-color: #09A66D" %>
        <% else %>
          <%= image_tag "plastic_black.svg", class: "profile-badge"%>
        <% end %>

        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Energy' }).exists? %>
          <%= image_tag "solar-energy.svg", class: "profile-badge", style: "background-color: #ECD0B4" %>
        <% else %>
          <%= image_tag "solar-energy_black.svg", class: "profile-badge"%>
        <% end %>

        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Travel' }).exists? %>
          <%= image_tag "aircraft.svg", class: "profile-badge", style: "background-color: #94514C" %>
        <% else %>
          <%= image_tag "aircraft_black.svg", class: "profile-badge"%>
        <% end %>

        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Commute' }).exists? %>
          <%= image_tag "bike (1).svg", class: "profile-badge", style: "background-color: #FB7429" %>
        <% else %>
          <%= image_tag "bike_black.svg", class: "profile-badge"%>
        <% end %>

        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Diet' }).exists? %>
          <%= image_tag "fruit.svg", class: "profile-badge", style: "background-color: #B29DC8" %>
        <% else %>
          <%= image_tag "fruit_black.svg", class: "profile-badge"%>
        <% end %>

        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Waste' }).exists? %>
          <%= image_tag "jar (2).svg", class: "profile-badge", style: "background-color: #FFB672" %>
        <% else %>
          <%= image_tag "jar_black.svg", class: "profile-badge"%>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<!--CO2 stats -->
<div class="CO2-comparison">
  <!-- Today score -->
  <div class="daily-score">
    <h5><%= @impact_today %></h5>
    <p>gCO2e Your total today </p>
  </div>
  <!-- break line -->
  <div class="vl"></div>
  <!--User Average CO2-->
  <div class="user-average-CO2">
    <h5>1.2</h5>
    <p>kgCO2e Your average</p>
  </div>
  <!-- break line -->
  <div class="vl"></div>
  <!-- Neighborhood Average CO2 -->
  <div class="neighborhood-average-CO2">
    <h5>1.4</h5>
    <p>kgCO2e Neighborhood</p>
  </div>
</div>

<!-- Impact Charts -->
<div class="impact-charts-container">
  <!--Weekly impact -->
  <div class="weekly-impact">
    <p>Weekly Impact</p>
    <!--graph -->
    <canvas
      data-weekly-impact="<%= @impact_week_hash.to_json %>"
      data-monthly-impact="<%= @impact_month_hash.to_json %>"
      data-all-time-impact="<%= @impact_all_time_hash.to_json %>"
      id="time-chart"
      width="80"
      height="100"
    ></canvas>
    <div class="week-graph-nav">
      <span id="seven-days">7 Days | </span>
      <span id="thirty-days">30 Days | </span>
      <span id="all-time">All Time</span>
    </div>
    <!-- button layer -->
    <button type="button" class="btn btn-primary graph-modal-triggered" data-toggle="modal" data-target="#exampleModalCenter">
      &nbsp;
    </button>
  </div>


  <!--Life impact -->
  <div class="life-impact">
    <p>Overall Impact</p>
    <canvas data-category-impact="<%= @impact_per_category_hash.to_json %>" id="lifeChart" width="120px" height="120px"></canvas>
    <!-- button layer -->
    <button type="button" class="btn btn-primary life-graph-modal-triggered" data-toggle="modal" data-target="#life-chart-popup">
      &nbsp;
    </button>
  </div>
</div>

<!-- Modal Week Chart-->
<div class="modal fade week-chart" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="iconify" data-icon="cil:x" data-inline="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Week Chart -->
        <p>Weekly Impact</p>
        <!--graph -->
        <canvas
          data-weekly-impact="<%= @impact_week_hash.to_json %>"
          data-monthly-impact="<%= @impact_month_hash.to_json %>"
          data-all-time-impact="<%= @impact_all_time_hash.to_json %>"
          id="time-chart-modal"
          width="80"
          height="75"
        ></canvas>
        <div class="week-graph-nav">
          <span id="seven-days">7 Days | </span>
          <span id="thirty-days">30 Days | </span>
          <span id="all-time">All Time</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Categories Chart-->
<div class="modal fade week-chart" id="life-chart-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="iconify" data-icon="cil:x" data-inline="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Week Chart -->
          <p>Overall Impact</p>
          <canvas data-category-impact="<%= @impact_per_category_hash.to_json %>" id="life-chart-modal" width="100%" height="100%"></canvas>
      </div>
    </div>
  </div>
</div>
