<!-- Profile Row -->
<div id="user-info-card">
  <!-- add avatar -->
  <div id="avatar-container">
    <% if @user.photo.present? %>
      <%= image_tag @user.photo, class: "profile-avatar" %>
    <% else %>
      <%= image_tag "user.png", class: "profile-avatar" %>
    <% end %>
  </div>
  <!--name & location -->
  <div id="user-info">
    <h1><%= @user.username.capitalize %></h1>
    <h2><%= @user.location %></h2>
  </div>
</div>


<!-- Badge Collection -->
<div id="badges-container">
  <div class="badges">
    <div class="badge-header">
      <h5>Badges Collection</h5>
    </div>


    <div class="badge-list">
      <ul>
        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Plastic' }).exists? %>
          <%= image_tag "plastic (1).svg", class: "profile-badge", style: "background-color: #09A66D" %>
        <% else %>
          <%= image_tag "plastic_black.svg", class: "profile-badge"%>
        <% end %>

        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Energy' }).exists? %>
          <%= image_tag "solar-energy.svg", class: "profile-badge", style: "background-color: #ECD0B4" %>
        <% else %>
          <%= image_tag "solar-energy_black.svg", class: "profile-badge"%>
        <% end %>

        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Travel' }).exists? %>
          <%= image_tag "aircraft.svg", class: "profile-badge", style: "background-color: #94514C" %>
        <% else %>
          <%= image_tag "aircraft_black.svg", class: "profile-badge"%>
        <% end %>

        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Commute' }).exists? %>
          <%= image_tag "bike (1).svg", class: "profile-badge", style: "background-color: #FB7429" %>
        <% else %>
          <%= image_tag "bike_black.svg", class: "profile-badge"%>
        <% end %>

        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Diet' }).exists? %>
          <%= image_tag "fruit.svg", class: "profile-badge", style: "background-color: #B29DC8" %>
        <% else %>
          <%= image_tag "fruit_black.svg", class: "profile-badge"%>
        <% end %>

        <% if current_user.earned_badges.joins(:badge).where(badges: { name: 'Waste' }).exists? %>
          <%= image_tag "jar (2).svg", class: "profile-badge", style: "background-color: #FFB672" %>
        <% else %>
          <%= image_tag "jar_black.svg", class: "profile-badge"%>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<!-- Today score -->
<div class="daily-score">
  <h5>Today's Impact: </h5><p><%= @impact_today %></p>
</div>
<!--CO2 stats -->
<div class="CO2-comparison">
  <!--User Average -->
  <div class="user-average-CO2">
    <h6>Your average CO2:</h6>
    <h5>67%</h5>
  </div>
  <!-- break line -->
  <div class="vl"></div>
  <!-- Neighborhood Average -->
  <div class="neighborhood-average-CO2">
    <h6>Neighborhood  CO2:</h6>
    <h5>71%</h5>
  </div>
</div>

<!-- Impact Charts -->
<div class="impact-charts-container">
  <!--Weekly impact -->
  <div class="weekly-impact">
    <p>Weekly Impact:</p>
    <canvas
      data-weekly-impact="<%= @impact_week_hash.to_json %>"
      data-monthly-impact="<%= @impact_month_hash.to_json %>"
      data-all-time-impact="<%= @impact_all_time_hash.to_json %>"
      id="time-chart"
      width="100"
      height="95"
    ></canvas>
    <span id="seven-days">7 Days | </span>
    <span id="thirty-days">30 Days | </span>
    <span id="all-time">All Time</span>
  </div>

  <!--Life impact -->
  <div class="life-impact">
    <p>Overall Impact:</p>
    <canvas id="lifeChart" width="100%" height="70%"></canvas>
  </div>
</div>


