<!-- BS Modal -->
<div class="modal fade" id="challenge-<%= challenge.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-challenge" id="modal-challenge-<%= challenge.id %>">
<!--       <div class="modal-header">
      </div> -->
      <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="challenge-with-actions">

          <div class="section-title">
            <h4><%= challenge.name %></h4>
            <div class="line"></div>
          </div>

          <div class="actions-card">
            <% day = 0 %>
            <% challenge.actions.each do |action| %>
              <div class="action-card">
                <p><strong>#<%= day += 1 %></strong>: <%= action.title%></p>
              </div>
               <!-- <p>Description: <%=  action.description%></p> -->
               <!-- <p>Impact: <%=  action.impact%>pts</p> -->
            <% end %>
          </div>

          <div class="links">
            <!-- the big button that should work :)  -->
            <div class="buddies-avatar-container">
              <% if current_user.photo.present? %>
                <%= image_tag current_user.photo, class: "profile-avatar" %>
              <% else %>
                <%= image_tag "user.png", class: "profile-avatar" %>
              <% end %>
              <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Grey_background.jpg/339px-Grey_background.jpg", class: "profile-avatar" %>
            </div>
            <p class="challenge-buddy" data-challenge="<%= challenge.id %>">CHALLENGE YOUR BUDDY</p>

            <%= simple_form_for [challenge, buddy_challenge], html: { class: "d-none new-buddy-challenge-form justify-content-center", id: "challenge-receiver-#{challenge.id}" } do |f| %>
              <%= f.input :receiver_id, as: :hidden %>
              <%= f.submit "Challenge", class: "btn-buddy", id: "new-buddy-challenge-form-#{challenge.id}" %>
            <% end %>

            <%= link_to 'START CHALLENGE', challenge_challenge_subscriptions_path(challenge), method: :post, class: "btn-start", id: "new-challenge-button-#{challenge.id}" %>

          </div>

        </div>

      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>

    <div class="modal-content modal-buddy d-none" id="modal-buddy-<%= challenge.id %>">
      <div class="modal-body">
        <div class="challenge-with-actions">
          <p id="back-to-challenge" class="back-button-challenge-<%= challenge.id%> close"><i class="far fa-times-circle"></i></p>

          <div class="section-title">
            <h4>Select a Buddy</h4>
            <div class="line"></div>
          </div>

          <div class="buddies-cards">
            <% User.where.not(id: current_user.id).each do |u| %>
            <div class="buddy-card"
                  data-challenge="<%= challenge.id %>"
                  data-user-id="<%= u.id %>"
                  data-user-username="<%= u.username.capitalize %>"
                  data-user-photo="<%= u.photo %>">
              <% if u.photo.present? %>
                <%= image_tag u.photo, class: "avatar" %>
              <% else %>
                <%= image_tag "user.png", class: "avatar" %>
              <% end %>
                <p><%= u.username.capitalize %></p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


