<% if controller_name == "pages" && action_name == "habit" %>
  <div class="menu-container">
    <div class="menu menu-habit">
      <div class="menu-habit-section">
        <div class="menu-habit-progress">
          <p>Good stuff!!</p>
<!--           <div class="progress" style="height: 8px;">
            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 20%"></div>
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 10%"></div>
          </div> -->
        </div>
        <% if @can_mass_create %>
          <%= link_to action_completions_mass_create_path, method: :post do %>
            <i id='checkable' class="fas fa-check-circle"></i>
          <% end %>
        <% else %>
            <i id='uncheckable' class="fas fa-check-circle"></i>
        <% end %>

      </div>
      <hr style= "width: 90%; text-align: center;">
      <ul class="icons">
        <%= link_to root_path, class: "icon-label" do %>
          <span class="iconify" data-icon="mdi-light:home" data-inline="false" data-width="30" data-height="30"></span>
          <span>Home</span>
        <% end %>

        <%= link_to dashboard_path, class: "icon-label" do %>
          <span class="iconify" data-icon="mdi-light:format-list-checks" data-inline="false" data-width="30" data-height="30"></span>
          <span>Challenges</span>
        <% end %>

        <%= link_to categories_path, class: "icon-label" do %>
          <span class="iconify" data-icon="simple-line-icons:people" data-inline="false" data-width="22" data-height="20"></span>
          <span>Buddy</span>
        <% end %>

        <%= link_to habit_path, class: "icon-label" do %>
          <% @active = @link_active == 'habit' ? 'active' : '' %>
          <span class="iconify <%= @active %>" data-icon="cil:calendar-check" data-inline="false" data-width="24" data-height="24"></span>
          <span class="<%= @active %>">Habits</span>
        <% end %>

        <%  if current_user %>
          <%= link_to user_path(current_user.id), class: "icon-label" do %>
            <span class="iconify" data-icon="ei:user" data-inline="false" data-width="30" data-height="30"></span>
            <span>Profile</span>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

<% elsif (
  (controller_name == 'sessions') ||
  (controller_name == 'registrations')
)%>

<% else %>

  <div class="menu-container">
    <div class="menu">
      <ul class="icons">
        <%= link_to root_path, class: "icon-label" do %>
          <% @active = params[:action] == 'home' ? 'active' : '' %>
          <span class="iconify <%= @active %>" data-icon="mdi-light:home" data-inline="false" data-width="30" data-height="30"></span>
          <span class="<%= @active %>">Home</span>
        <% end %>

        <%= link_to dashboard_path, class: "icon-label" do %>
          <% @active = @link_active == 'dashboard' ? 'active' : '' %>
          <span class="iconify <%= @active %>" data-icon="mdi-light:format-list-checks" data-inline="false" data-width="30" data-height="30"></span>
          <span class="<%= @active %>">Challenges</span>
        <% end %>

        <%= link_to buddy_challenges_path, class: "icon-label" do %>
          <% @active = @link_active == 'buddy' ? 'active' : '' %>
          <span class="iconify <%= @active %>" data-icon="simple-line-icons:people" data-inline="false" data-width="22" data-height="20"></span>
          <span class="<%= @active %>">Buddy</span>
        <% end %>

        <%= link_to habit_path, class: "icon-label" do %>
          <% @active = @link_active == 'habit' ? 'active' : '' %>
          <span class="iconify <%= @active %>" data-icon="cil:calendar-check" data-inline="false" data-width="24" data-height="24"></span>
          <span class="<%= @active %>">Habits</span>
        <% end %>

        <%  if current_user %>
          <%= link_to user_path(current_user.id), class: "icon-label" do %>
            <% @active = @link_active == 'profile' ? 'active' : '' %>
            <span class="iconify <%= @active %>" data-icon="ei:user" data-inline="false" data-width="30" data-height="30"></span>
            <span class="<%= @active %>">Profile</span>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>
<%# raise %>
