<%= content_for(:title) { "Challenges" } %>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12" style="width: 100%;">

      <div class="cards-sub">
        <% current_user.challenge_subscriptions.reverse.each do |sub| %>
          <div class="card-sub">
            <% if sub.created_at.in_time_zone('Eastern Time (US & Canada)').to_date == Date.today %>
              <div class="ribbon ribbon-top-right"><span>New</span></div>
            <% end %>
            <h2><%= link_to sub.challenge.name, challenge_path(sub.challenge) %>
              <span class="badge badge-pill badge-warning"><%= sub.challenge.total_impact %>g CO2</span>
            </h2>
            <p><%= sub.num_actions_done %> out of <%= sub.challenge.actions.count %> checked</p>

            <div class="progress" style="height: 6px;">
              <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: <%= (sub.num_actions_done - sub.num_actions_habit) / sub.challenge.actions.count.to_f  * 100 %>%"></div>
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= sub.num_actions_habit / sub.challenge.actions.count.to_f  * 100 %>%"></div>
            </div>

            <% sub.challenge.actions.each do |action| %>
              <% if !action.setting_for(current_user).habit %>
                <hr>
                <div class="section-action">

                  <div class="section-top-action">

                    <i class="fas fa-chevron-right dd-chevron" style="margin-right: 8px;"></i>
                    <h3 class="title-action">
                      <%= truncate(action.title, length: 25)  %>
                      <span>
                        <% if ActionCompletion.find_by(action: action, challenge_subscription: sub) %>
                          <i class="fas fa-check-circle" style="color: #4C6C6F; font-size: 16px;"></i>
                        <% end %>
                      </span>
                    </h3>
                    <div class="buttons-action">
                      <% if ActionCompletion.find_by(action: action, challenge_subscription: sub) %>
                        <%= link_to action_setting_path(action.setting_for(current_user)), method: :patch do %>
                          <!-- <i id="icon-active"class="far fa-calendar-check"></i> -->
                          <p><i class="fas fa-plus"></i> HABIT</p>
                        <% end %>
                      <% else %>
                        <%= link_to action_action_completions_path(action), method: :post do %>
                          <!-- <i id="icon-inactive" class="far fa-circle"></i> -->
                          <p><i class="fas fa-check"></i> DONE</p>
                        <% end %>
                      <% end %>
                    </div>

                  </div>

                  <div class="action-dropdown" id="action-<%= action.id %>">
                    <p><strong><%= action.title %></strong></p>
                    <p><%= action.description %></p>
                    <p><strong>Impact</strong>: <%= action.impact %>g CO2</p>
                  </div>
                </div>

              <% end %>
            <% end %>

          </div>

        <% end %>

      </div>

    </div>
  </div>
</div>
