<%= content_for(:title) { "Habits" } %>

<div class="container-page" id="habit">
  <div style="margin-bottom: 75px">
    <% (@habits.sort_by { |obj| obj.created_at }).each do |habit| %>
      <div class="card-habit">
        <div class="info-habit">
          <h5><%= habit.action.title %></h5>
          <p>Impact: <%= habit.action.impact %>g CO2</p>
        </div>
        <div class="options-babit">
          <div class="buttons-action">
            <% if habit.done_today? %>
              <p>DONE</p>
              <i class="fas fa-check" style="margin-left: 6px; color: #4C6C6F; font-size: 25px;"></i>
            <% else %>
              <%= link_to update_check_action_setting_path(habit), method: :patch, remote: true do %>
                <% if habit.checked %>
                  <i id='habit-<%= habit.id %>' class="fas fa-check-circle habit-checkbox-checked" style="color: lightgray; font-size: 30px;"></i>
                <% else %>
                  <i id='habit-<%= habit.id %>' class="far fa-circle habit-checkbox-unchecked" style="color: lightgray; font-size: 30px;"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <!-- dropdown -->
          <div class="dropdown">
            <a href="#" data-toggle="dropdown"><i id="three-dots" class="fas fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <%= link_to 'Done', action_action_completions_path(habit.action), method: :post, class: 'dropdown-item' %>
                <%= link_to 'Remove', action_setting_path(habit), method: :patch, class: 'dropdown-item' %>
            </div>
          </div>
        </div>

      </div>

    <% end %>
  </div>
  <!-- Modal for Impact -->
  <div class="modal fade" id="massCreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-impact">
        <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body impact-text">

          <h2 id="count-up"></h2>
          <p>gCO2e</p>
          <h4>IMPACT MADE</h4>
        </div>
        <div class="modal-nav-btn">
          <%= link_to dashboard_path, class: "modal-btn" do %>
            <p>Challenges<span class="iconify" data-icon="mdi-light:format-list-checks"></span></p>
          <% end %>

          <%  if current_user %>
            <%= link_to user_path(current_user.id), class: "modal-btn"  do %>
              <p>Analytics<span class="iconify" data-icon="ei:user" data-inline="false"></span></p>
            <% end %>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>

