<h1><%= @challenge.name %></h1>
  <ul>
    <% @challenge.actions.each do |action| %>
      <li>
       <p><%=  action.title%></p>
       <p>Description: <%=  action.description%></p>
       <p>Impact: <%=  action.impact%>pts</p>
      </li>
    <% end %>
  </ul>

<%= link_to 'Start Now', challenge_challenge_subscriptions_path(@challenge), method: :post %>
