
<div class="search-container">
  <div class="row">
    <div class="col-sm-12">

      <div class="challenge-with-actions">

        <h2><%= @challenge.name %></h2>
        <div class="line">
        </div>
        <div class="actions-card">
            <% day = 0 %>
            <% @challenge.actions.each do |action| %>
              <div class="action-card">
                <p>Day <%= day += 1 %>: <%=  action.title%></p>

              </div>
               <!-- <p>Description: <%=  action.description%></p> -->
               <!-- <p>Impact: <%=  action.impact%>pts</p> -->
            <% end %>

        </div>

        <div class="links">
          <%= link_to 'START CHALLENGE', challenge_challenge_subscriptions_path(@challenge), method: :post, class: "btn-start" %>
          <%= link_to 'BOOKMARK', '#', class: "btn-book"  %>
          <%= simple_form_for [@challenge, @buddy_challenge] do |f| %>
            <%= f.association :receiver, collection: User.where.not(id: current_user.id), label_method: :username %>
            <%= f.submit :select, class: "btn-buddy" %>
          <% end %>
        </div>

    </div>

    </div>
  </div>
</div>
