<%= content_for(:title) { "Search" } %>
<div class="container-page" id="search" >
    <!--search bar -->
    <div class="search-bar">
      <%= form_tag challenges_path, method: :get, class: 'input-group' do %>
        <%= text_field_tag :search,
          params[:search],
          class: "form-control",
          placeholder: "Find a Challenge"
        %>
        <%= submit_tag "Search", class: "btn btn-outline-secondary input-group-append" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>

    <!-- category cards -->
    <div class="section-title">
      <h4>Browse Categories</h4>
      <div class="line"></div>
    </div>

    <div class="cards-category">
      <% @categories.each do |c|  %>
        <!-- in the path will be the categorie id instead -->
        <%= link_to challenges_path(category_id: c.id ) do %>
          <div id="card-category-<%= c.name.downcase %>" class="card-categories">
            <img src="<%= c.icon %>" class="category-icon"> <br>
            <%= c.name %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="section-title">
      <h4>Browse Top Challenges</h4>
      <div class="line"></div>
    </div>

  <!-- top challenges cards -->
  <div class="cards-genre">
    <div class="card-genre">
      <h5>Most Completed</h5>
    </div>
    <div class="card-genre">
      <h5>Most Impactful</h5>
    </div>
    <div class="card-genre">
      <h5>New Release</h5>
    </div>
    <div class="card-genre">
      <h5>New Release</h5>
    </div>
    <div class="card-genre">
      <h5>New Release</h5>
    </div>
    <div class="card-genre">
      <h5>New Release</h5>
    </div>
    <div class="card-genre">
      <h5>New Release</h5>
    </div>
  </div>

</div>