<div class="buddy-cards">

  <div class="buddy-ch-info">
    <% if sent.receiver.photo.present? %>
      <%= image_tag sent.receiver.photo, class: "avatar" %>
    <% else %>
      <%= image_tag "user.png", class: "avatar" %>
    <% end %>

    <div class="ch-info">
      <p class="receiver"><%= sent.receiver.username.capitalize %></p>
      <p class="buddy-ch"><%= sent.challenge.name %></p>
    </div>

  </div>

  <div class="accept-buttons">
    <% if sent.status == true %>
      <% result = 'Accepted' %>
    <% else %>
      <% result = 'Pending'  %>
    <% end %>
    <p class="status"><%= result %></p>
    <%= link_to "Cancel", buddy_challenge_path(sent), method: :delete,  class: "cancel", remote: true%>

  </div>
</div>
