<h1>Received</h1>
<% @received.each do |r| %>
  <%= r.sender.username %>
  <%= r.challenge.name %>
  <%= r.status %>
<% end %>

<h1>Sent</h1>
<% @sent.each do |r| %>
  <%= r.receiver.username %>
  <%= r.challenge.name %>
  <%= r.status %>
<% end %>
